<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="WarehouseDB"
			 connectionString="Data Source=ZONGA;Initial Catalog=WarehouseDB;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>